
menu "SYSCTL"

# IPDEFTTL
config   SYSCTL_IP_DEFAULT_TTL
    int "SYSCTL_IP_DEFAULT_TTL"
    default 64

# TCP_SYN_RETRIES
config   SYSCTL_TCP_SYN_RETRIES
    int "SYSCTL_TCP_SYN_RETRIES"
    default 6

# TCP_SYNACK_RETRIES
config   SYSCTL_TCP_SYNACK_RETRIES
    int "SYSCTL_TCP_SYNACK_RETRIES"
    default 5

# TCP_FIN_TIMEOUT -> TCP_TIMEWAIT_LEN -> (60*HZ)
config   SYSCTL_TCP_FIN_TIMEOUT_
    int "SYSCTL_TCP_FIN_TIMEOUT"
    default 60

config   SYSCTL_TCP_RETRANS_COLLAPSE
    int "SYSCTL_TCP_RETRANS_COLLAPSE"
    default 1

config   SYSCTL_TCP_MAX_REORDERING
    int "SYSCTL_TCP_MAX_REORDERING"
    default 300

config   SYSCTL_TCP_NOMETRICS_SAVE
    int "SYSCTL_TCP_NOMETRICS_SAVE"
    default 0

config   SYSCTL_TCP_NO_SSTHRESH_METRICS_SAVE
    int "SYSCTL_TCP_NO_SSTHRESH_METRICS_SAVE"
    default 1

config   SYSCTL_TCP_FRTO
    int "SYSCTL_TCP_FRTO"
    default 2

config   SYSCTL_TCP_MODERATE_RCVBUF
    int "SYSCTL_TCP_MODERATE_RCVBUF"
    default 1

config   SYSCTL_TCP_ABORT_ON_OVERFLOW
    int "SYSCTL_TCP_ABORT_ON_OVERFLOW"
    default 0

config   SYSCTL_TCP_STDURG
    int "SYSCTL_TCP_STDURG"
    default 0

config   SYSCTL_TCP_MIGRATE_REQ
    int "SYSCTL_TCP_MIGRATE_REQ"
    default 0

config   SYSCTL_TCP_SYNCOOKIES
    int "SYSCTL_TCP_SYNCOOKIES"
    default 1

config   SYSCTL_TCP_REORDERING
    int "SYSCTL_TCP_REORDERING"
    default 3

config   SYSCTL_TCP_RETRIES1
    int "SYSCTL_TCP_RETRIES1"
    default 3

config   SYSCTL_TCP_RETRIES2
    int "SYSCTL_TCP_RETRIES2"
    default 15

config   SYSCTL_TCP_ORPHAN_RETRIES
    int "SYSCTL_TCP_ORPHAN_RETRIES"
    default 0

config   SYSCTL_TCP_KEEPALIVE_INTVL_
    int "SYSCTL_TCP_KEEPALIVE_INTVL"
    default 75

config   SYSCTL_TCP_KEEPALIVE_TIME_
    int "SYSCTL_TCP_KEEPALIVE_TIME"
    default 7200

config   SYSCTL_TCP_KEEPALIVE_PROBES_
    int "SYSCTL_TCP_KEEPALIVE_PROBES"
    default 9

config   SYSCTL_TCP_SYN_LINEAR_TIMEOUTS
    int "SYSCTL_TCP_SYN_LINEAR_TIMEOUTS"
    default 4

config   SYSCTL_TCP_MIN_TSO_SEGS
    int "SYSCTL_TCP_MIN_TSO_SEGS"
    default 2

config   SYSCTL_TCP_PROBE_INTERVAL
    int "SYSCTL_TCP_PROBE_INTERVAL"
    default 600

config   SYSCTL_TCP_TIMESTAMPS
    int "SYSCTL_TCP_TIMESTAMPS"
    default 1

config   SYSCTL_TCP_PROBE_THRESHOLD
    int "SYSCTL_TCP_PROBE_THRESHOLD"
    default 8

config   SYSCTL_UDP_CHILD_HASH_ENTRIES
    int "SYSCTL_UDP_CHILD_HASH_ENTRIES"
    default 0

config   SYSCTL_MAX_SYN_BACKLOG
    int "SYSCTL_MAX_SYN_BACKLOG"
    default 1024

config   SYSCTL_IP_LOCAL_PORTS_MIN
    int "SYSCTL_IP_LOCAL_PORTS_MIN"
    default 2000

config   SYSCTL_IP_LOCAL_PORTS_MAX
    int "SYSCTL_IP_LOCAL_PORTS_MAX"
    default 65533

config   SYSCTL_ICMP_ECHO_IGNORE_ALL
    int "SYSCTL_ICMP_ECHO_IGNORE_ALL"
    default 0

config   SYSCTL_ICMP_ECHO_IGNORE_BROADCASTS
    int "SYSCTL_ICMP_ECHO_IGNORE_BROADCASTS"
    default 1

config   SYSCTL_ICMP_ECHO_ENABLE_PROBE
    int "SYSCTL_ICMP_ECHO_ENABLE_PROBE"
    default 0

config   SYSCTL_ICMPV6_ECHO_IGNORE_ALL
    int "SYSCTL_ICMPV6_ECHO_IGNORE_ALL"
    default 0

config   SYSCTL_ICMPV6_ECHO_IGNORE_MULTICAST
    int "SYSCTL_ICMPV6_ECHO_IGNORE_MULTICAST"
    default 0

config   SYSCTL_ICMPV6_ECHO_IGNORE_ANYCAST
    int "SYSCTL_ICMPV6_ECHO_IGNORE_ANYCAST"
    default 0

config   SYSCTL_ICMPV6_ERROR_ANYCAST_AS_UNICAST
    int "SYSCTL_ICMPV6_ERROR_ANYCAST_AS_UNICAST"
    default 0

config   SYSCTL_ICMPV6_TIME_
    int "SYSCTL_ICMPV6_TIME"
    default 1

config   SYSCTL_TCP_WORKAROUND_SIGNED_WINDOWS
    int "SYSCTL_TCP_WORKAROUND_SIGNED_WINDOWS"
    default 0

config   SYSCTL_TCP_REFLECT_TOS
    int "SYSCTL_TCP_REFLECT_TOS"
    default 0

config   SYSCTL_IP_EARLY_DEMUX
    int "SYSCTL_IP_EARLY_DEMUX"
    default 1

config   SYSCTL_TCP_EARLY_DEMUX
    int "SYSCTL_TCP_EARLY_DEMUX"
    default 1

config   SYSCTL_UDP_EARLY_DEMUX
    int "SYSCTL_UDP_EARLY_DEMUX"
    default 1

config   SYSCTL_NEXTHOP_COMPAT_MODE
    int "SYSCTL_NEXTHOP_COMPAT_MODE"
    default 1

config   SYSCTL_TCP_RECOVERY
    int "SYSCTL_TCP_RECOVERY"
    default 1

config   SYSCTL_TCP_RFC1337
    int "SYSCTL_TCP_RFC1337"
    default 0

config   SYSCTL_TCP_SHRINK_WINDOW
    int "SYSCTL_TCP_SHRINK_WINDOW"
    default 0

config   SYSCTL_TCP_SLOW_START_AFTER_IDLE
    int "SYSCTL_TCP_SLOW_START_AFTER_IDLE"
    default 0

config   SYSCTL_TCP_THIN_LINEAR_TIMEOUTS
    int "SYSCTL_TCP_THIN_LINEAR_TIMEOUTS"
    default 0

endmenu
